<%- include('partials/header') %>
<div class="container page-pad text-center">
  <div style="font-size:5rem;margin-bottom:1rem;">&#x26A0;&#xFE0F;</div>
  <h1>Something Went Wrong</h1>
  <p><%= message %></p>
  <a href="/" class="btn btn-primary" style="margin-top:1.5rem;">Go Home</a>
</div>
<%- include('partials/footer') %>
